#container {
    width: 600px;
    height: 500px;
    background: #71b36b;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
body {
	color: #2d383b;
}
input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    padding: 12px 30px;
}
::placeholder {
  color: black;
}
select[id=tel] {
    background: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    padding: 12px 30px;
}
input[type=date] {
    background: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    padding: 12px 30px;
}
button {
	background-color: #2d383b;
	width: 150px;
	height: 50px;
	border: 0;
	position: absolute;
	top: 380px;
	left: 232px;
}
a {
	text-decoration: none;
	color: white;
}
#valid {
	width: 350px;
	height: 250px;
	background-color: #516e51;
	border-radius: 10%;

}